* {
    margin: 0;
    padding: 0;
}

.header {
    margin: 0 auto;
    background-image: url(../img/bg1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 530px;
    padding-bottom: 145px;
}

.header-container {
    width: 982px;
    margin-left: 82px;
}

.title-h2 {
    font-family: Montserrat, 'sans-serif';
    text-transform: uppercase;
    color:  #ffffff;
    font-size: 48px;
    font-weight: 700;
}

.title-p {
    font-family: Lato, 'sans-serif';
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0 28px 0;
}

.header-logo-title {
    background-color: #fff;
    border: 1px solid #ffffff;
    text-transform: uppercase;
    font-family: Montserrat, 'sans-serif';
    color:  #f1ad1d;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    padding: 49px 34px 42px 29px;
    display: inline-block;
}

.header-logo {
    display: inline-block;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-logo-description {
    font-family: Montserrat, 'sans-serif';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 54px;
    font-weight: 700;
    text-align: center;
    padding: 48px 56px 41px 26px;
    display: inline-block;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.text-buffer {
    padding: 112px 0 137px;
}

.text-buffer-h2 {
    text-transform: uppercase;
    font-family: Montserrat, 'sans-serif';
    color:  #333333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.text-buffer-p {
    font-family: Lato, 'sans-serif';
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.buffer-line {
    background-color:  #f1ad1d;
    width: 60px;
    height: 3px;
    margin: 44px auto 0;
}

.slogan-line-white {
    background-color:  #ffffff;
    width: 281px;
    height: 3px;
    margin: 44px auto 0;
}

.slogan-1 {
    background-image: url(../img/bg2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 150px;
}

.slogan-h2 {
    font-family: Montserrat, 'sans-serif';
    color:  #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.yellow-text {
    color: #f1ad1d;
}

.slogan-2 {
    background-image: url(../img/bg3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 174px 0 121px;
}

.logo-list {
    list-style: none;
    text-align: center;
    margin: 58px auto 0;
    display: flex;
    justify-content: center;
}

.logo-item {
    margin-right: 50px;
    line-height: 56px;
}

.slogan-3 {
    background-image: url(../img/bg4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 130px 0 119px;
}

.slogan-description {
    font-family: OpenSans, 'sans-serif';
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 60px;
}